.banker-zone{
  position: absolute;
  left: 300px;
  top: 280px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bet-box{
  background-color: #3A6D4E;
  border-radius:20px;
  padding: 5px 15px;
}

.player-zone{
  position: absolute;
  left: 750px;
  top: 280px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p{
  margin: 0;
}
.banker-zone p, .player-zone p{
  font-size: 18px;
  font-weight: 500;
}

.bet-tie, .bet-banker, .bet-player{
  position: absolute;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  z-index: 4;
}

.bet-tie{
  top: 150px;
  left: 523px;
}
.tie-secondary-text{
  font-size: 13px;
  color: #48775a;
}

.bet-banker{
  top: 265px;
  left: 516px;
}
.bet-player{
  top: 360px;
  left: 521px;
}
