.contenedor-principal{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circle {
  position: relative;
  bottom: 440px;
  border: 2px solid #356046;
  padding: 0;
  margin: 1em auto;
  width: 850px;
  height: 850px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  transform: rotate(-30deg);
}
li {
  overflow: hidden;
  position: absolute;
  top: 0; right: 0;
  width: 50%; height: 50%;
  transform-origin: 0% 100%;   
  box-sizing: border-box;   
}
.text {
  position: absolute;
  left: -100%;
  width: 200%; height: 200%;
  text-align: center;
  -webkit-transform: skewY(30deg) rotate(15deg);
  -ms-transform: skewY(30deg) rotate(15deg);
  transform: skewY(30deg) rotate(15deg);
  padding-top: 20px;
}

.p1 {
  -webkit-transform: rotate(0deg) skewY(-30deg);
  -ms-transform: rotate(0deg) skewY(-30deg);
  transform: rotate(0deg) skewY(-30deg);     
}
.p2 {
  -webkit-transform: rotate(60deg) skewY(-30deg);
  -ms-transform: rotate(60deg) skewY(-30deg);
  transform: rotate(60deg) skewY(-30deg);     
}
.p3 {
  -webkit-transform: rotate(120deg) skewY(-30deg);
  -ms-transform: rotate(120deg) skewY(-30deg);
  transform: rotate(120deg) skewY(-30deg);    
  border-bottom: 2px solid #356046;
}
.p4 {
  -webkit-transform: rotate(180deg) skewY(-30deg);
  -ms-transform: rotate(180deg) skewY(-30deg);
  transform: rotate(180deg) skewY(-30deg);    
  border-bottom: 2px solid #356046;
}
.p5 {
  -webkit-transform: rotate(240deg) skewY(-30deg);
  -ms-transform: rotate(240deg) skewY(-30deg);
  transform: rotate(240deg) skewY(-30deg);    
}
.p6 {
  -webkit-transform: rotate(300deg) skewY(-30deg);
  -ms-transform: rotate(300deg) skewY(-30deg);
  transform: rotate(300deg) skewY(-30deg);    
}

.p1 .text {
  background: #12331E; 
}
.p2 .text {
  background: #12331E; 
}
.p3 .text {
  background: #12331E; 
}
.p4 .text {
  background: #12331E;  
}
.p5 .text {
  background: #12331E;  
}
.p6 .text {
  background: #12331E;  
}

