.tablero_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1100px;
  height: 700px;
  border: 2px solid #286C51;
  border-radius: 10px;
  background-color: #005238;
  overflow: hidden;
}