.chip-spawn-area{
  position: absolute;
  left: 500px;
  width: 100px;
  height: 100px;
  border: 1px solid white;
  z-index: 10;
}

#tie-spawn{
  top: 125px;
}
#banker-spawn{
  top: 230px;
}
#player-spawn{
  top: 323px;
}